<%- include('../functions') %>
<div class="container vert-gap-card">
    <div class="card" style="background-color: whitesmoke;">
        <div class="card-body col-12">
            <div class="row" id="transaction-header">
                <div class="col">
                    <h4>Transaction Date: <%= stringToDate(String(all.transaction_date)) %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-5" id="trans3">
                    <p>Date: From <%= stringToDate(String(all.start_date)) %> to <%= stringToDate(String(all.end_date)) %></p>
                    <p>Pet: <%= all.pet_name %></p>
                    <p>Caretaker: <a href="/profile/<%= all.ct_email %>"><%= all.ct_name %></a></p>
                </div>
                <div class="col-4" id="trans4">
                    <p>Status: 
                    <% if (all.hire_status == 'completed') { %>
                        <span class="badge badge-success"><%= all.hire_status %></span><br>
                    <% } else if (all.hire_status == 'cancelled' || all.hire_status == 'rejected') { %>
                        <span class="badge badge-danger"><%= all.hire_status %></span><br>
                    <% } else if (all.hire_status == 'pendingPayment') { %>
                        <span class="badge badge-warning"><%= all.hire_status %></span><br>
                    <% } else { %>
                        <span class="badge badge-info"><%= all.hire_status %></span><br>
                    <% } %></p>
                    <p>Total Cost: <%= all.total_cost %></p>
                </div>
            <% if (all.button == 1) { %>
                <div class="col-3">
                        <form method="POST" action="/edit_bid">
                            <input type="hidden" name="owner_email" value=<%=all.owner_email %>>
                            <input type="hidden" name="ct_email" value=<%=all.ct_email %>>
                            <input type="hidden" name="start_date" value=<%=moment(all.start_date).format() %>>
                            <input type="hidden" name="end_date" value=<%=moment(all.end_date).format() %>>
                            <input type="hidden" name="pet_name" value=<%=all.pet_name %>>
                            <button type="submit" class="btn btn-secondary btn-lg">Change care details</input>
                        </form>
                </div>
            <% } %>
            </div>
            
            <!-- button for payment? -->
        </div>

    </div>
    
</div>