<%- include('../functions') %>
<% var transfer = all.method_of_pet_transfer; %>
<% if (transfer == 'office') { transfer = 'Deliver to PetCare office'; } %>
<% if (transfer == 'oDeliver') { transfer = 'Pet Owner to deliver to address'; } %>
<% if (transfer == 'cPickup') { transfer = 'Caretaker to pickup'; } %>
<div class="container vert-gap-card">
    <div class="card" style="background-color: whitesmoke; padding-bottom: 0px;">
        <div class="card-body col-12" style="padding-bottom: 0px; padding-top: 15px;">
            <div class="row" id="transaction-header">
                <div class="col">
                    <h4>Transaction Date: <%= stringToDate(String(all.transaction_date)) %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-5">
                    <p><b>Date:</b> From <%= stringToDate(String(all.start_date)) %> to <%= stringToDate(String(all.end_date)) %></p>
                    <p><b>Owner's Email:</b> <%= all.owner_email %></p>
                    <% if (all.deleted || accountType != 1) { %>
                        <p><b>Pet Name:</b> <%= all.pet_name %></a></p>
                    <% } else { %> 
                        <p><b>Pet Name:</b> <a href="/my_pet/<%= all.owner_email %>/<%= all.pet_name %>"><%= all.pet_name %></a></p>
                    <% } %>
                    <p><b>Pet Type:</b> <%= all.pet_type %></p>
                    <p><b>Method of Pet Transfer:</b> <%= transfer %></p>
                    <% if (all.method_of_pet_transfer == 'cPickup') { %>
                    <p><b>Pickup Address:</b> <%= all.addr %></a></p>
                    <% } %>
                    <p><b>Rating:</b> <%= all.trxn_rating %></p>
                    <p><b>Review:</b> <%= all.review_text %></p>
                </div>
                <div class="col col-4">
                    <% if (all.addr && (all.hire_status == 'completed' || all.hire_status == 'inProgress')) { %>
                        <p><b>Address:</b> <%= all.addr %></p>
                    <% } %>
                    <p><b>Status:</b> 
                    <% if (all.hire_status == 'completed') { %>
                        <span class="badge badge-success"><%= statusToHuman(all.hire_status) %></span><br>
                    <% } else if (all.hire_status == 'cancelled' || all.hire_status == 'rejected') { %>
                        <span class="badge badge-danger"><%= statusToHuman(all.hire_status) %></span><br>
                    <% } else if (all.hire_status == 'pendingPayment') { %>
                        <span class="badge badge-warning"><%= statusToHuman(all.hire_status) %></span><br>
                    <% } else { %>
                        <span class="badge badge-info"><%= statusToHuman(all.hire_status) %></span><br>
                    <% } %></p>
                    <p><b>Total Cost:</b> $<%= (Math.round(all.total_cost * 100) / 100).toFixed(2) %></p>
                </div>




                <div class="col col-3">
                    <% if (all.hire_status == 'pendingPayment' && all.payment_method == 'cash') { %>
                        <form method="POST" action="/payment_received">
                            <input type="hidden" name="owner_email" value=<%=all.owner_email %>>
                            <input type="hidden" name="ct_email" value=<%=all.ct_email %>>
                            <input type="hidden" name="start_date" value=<%=moment(all.start_date).format() %>>
                            <input type="hidden" name="end_date" value=<%=moment(all.end_date).format() %>>
                            <input type="hidden" name="pet_name" value=<%=all.pet_name %>>
                            <button type="submit" class="btn btn-success">Payment Received</input>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>