<%- include('../functions') %>
<div class="container vert-gap-card">
    <div class="card" style="background-color: whitesmoke;">
        <div class="card-body col-12">
            <div class="row" id="transaction-header">
                <div class="col">
                    <h4>Transaction Date: <%= stringToDate(String(all.transaction_date)) %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-4" id="trans3">
                    <p>Date: <%= stringToDate(String(all.start_date)) %> to <%= stringToDate(String(all.end_date)) %></p>
                    <p>Time: ? </p>
                    <p>Caretaker: <%= all.ct_email %></p>
                </div>
                <div class="col col-4" id="trans4">
                    <p>Status: <%= all.hire_status %></p>
                    <p>Pet: <%= all.pet_name %></p>
                    <p>Total Cost: <%= all.total_cost %></p>
                </div>
            </div>
            
            <!-- button for payment? -->
        </div>

    </div>
    
</div>