<%- include('../functions') %>
<div class="card col-12" style="background-color: whitesmoke; text-align: left;">
    <div class="card-body" style="padding-bottom: 0px; padding-top: 10px;">
        <div class="row" id="transaction-header">
            <div class="col-10">
                <a href="/my_pet/<%= pet.email %>/<%= pet.pet_name %>"><h4>Pet: <%= pet.pet_name %>&nbsp;</h4></a>
            </div>
            <div class="col">
                <div class="row">
                    <a href="/add_pet/edit/<%= pet.email %>/<%= pet.pet_name %>"><ion-icon name="create-outline" style="font-size: 24px; padding-top: 5px;"></ion-icon></a>
                    <form method="post" action="/my_pet/<%= pet.email %>/<%= pet.pet_name %>" stye="text-align: right;">
                        <button type="submit" class="btn btn-tool btn-sm"><ion-icon name="trash-outline" style="font-size: 24px;"></ion-icon></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><b>Pet Type:</b> <%= pet.pet_type %></p>
                <p><b>Special Requirements:</b> <%= pet.special_requirement %></p>
            </div>
        </div>
    </div>
</div>
