<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <%- include('./partials/head.ejs') %>
</head>

<script>
    function validateForm() {
        const pet_name = document.forms["add_pet_form"]["pet_name"].value;
        const pet_type = document.forms["add_pet_form"]["pet_type"].value;
        if (pet_name == "") {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Empty Pet Name!',
                body: 'Please enter a name for your Pet.'
            })
            return false;
        }
        if (pet_type == "") {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Empty Pet Type!',
                body: 'Please enter a Type for your Pet.'
            })
            return false;
        }
    }
</script>

<body>
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="card" style="width: 60%; margin: auto; margin-top: 5%">
                <div class="card-header">
                    <% const top = query == null ? "Add Pet" : "Edit Pet Details"; %>
                    <% const pet_name = query == null ? "" : query[0].pet_name; %>
                    <% const special_req = query == null ? "" : query[0].special_requirement; %>
                    <% const pet_type = query == null ? "" : query[0].pet_type; %>
                    <% const submit = query == null ? "Add Pet" : "Edit Pet"; %>
                    <% const type = query == null ? 'add' : 'edit'; %>
                    <i class="fas fa-dice-d20"></i> &nbsp; <b><%= top %></b>
                </div>
                <form method="post" action="/add_pet/<%= type %>" name="add_pet_form" onsubmit="return validateForm()">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="pet_name" class="col-sm-3 col-form-label">Pet Name: </label>
                            <div class="col-sm-9">
                                <% if (pet_name == "") { %> 
                                    <input type="text" class="form-control" placeholder="Name" id="pet_name"
                                        name="pet_name" value="<%= pet_name %>">
                                <% } else { %>
                                    <input type="text" class="form-control" placeholder="Name" id="pet_name"
                                        name="pet_name" value="<%= pet_name %>" readonly="true">
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="special_req" class="col-sm-3 col-form-label">Special Requirements: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="special_req"
                                    placeholder="Special Requirements" name="special_req" value="<%= special_req %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pet_type" class="col-sm-3 col-form-label">Pet Type: </label>
                            <div class="col-sm-9">
                                <% if (pet_type == "") { %> 
                                    <select id="pet_type" name="pet_type">
                                        <option selected value="">Select a pet type</option>
                                        <% pet_types.forEach(type => { %>
                                            <option value="<%= type.name %>"><%= type.name %></option>
                                        <% }); %>
                                    </select>
                                <% } else { %>
                                    <select id="pet_type" name="pet_type"readonly="true">
                                        <option selected value="<%= pet_type %>"><%= pet_type %></option>
                                    </select>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">
                        <button type="submit" class="btn btn-secondary" style="margin: 0px;"><%= submit %></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>