<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Bid For Caretaker</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css" >
    <script>
    </script>

    <style>
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn}) %>
    <div class="container">
    <div 
  <div class="py-5 text-center">
    <h2>Bidding</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Caretaker</h6>
          </div>
          <span class="text-muted"><%= ct_name %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Start Date</h6>
          </div>
          <span class="text-muted"><%= start_date %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">End Date</h6>
          </div>
          <span class="text-muted"><%= end_date %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Cost per day</h6>
          </div>
          <span class="text-muted">$<%= daily_price %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (SGD)</span>
          <strong>$<%= num_days * daily_price %> </strong>
        </li>
      </ul>
    </div>

    
    <!--Form-->
    <div class="col-md-8 order-md-1">
      <form action="/submit_bid" class="needs-validation" novalidate method="POST">
          <!--Pass rest of details back-->
        <input type="hidden" name="ct_email" value="<%=ct_email%>">
        <input type="hidden" name="start_date" value="<%=start_date%>">
        <input type="hidden" name="end_date" value="<%=end_date%>">
        <input type="hidden" name="pet_type" value="<%=pet_type%>">
        
        <div class="row">
          <!--Pet Transfer Method-->
          <div class="col-md-5 mb-3">
            <label for="transfer">Pet Transfer Method</label>
            <select class="custom-select d-block w-100" id="transferMethod" name ="transferMethod" required> 
              <option value = "cPickup">Caretaker pickup</option>
              <option value = "oDeliver">Dropoff at caretaker</option>
              <option value = "office">Dropoff at Pet Care office.</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid pet transfer method.
            </div>
          </div>
          <!-- Pet Name-->
          <div class="col-md-5 mb-3">
              <div class="card w-60 h-70">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Your selected pet:</h6>
                  <p class="card-text"><%=pet_name%> <b>(<%=pet_type%>)</b></p>
                  <input type="hidden" name="pet_name" value="<%=pet_name%>">
                </div>
              </div>
          </div>
        </div>
          <!-- <div class="col-md-5 mb-3">
            <label for="transfer">Select Pet Type: <%#= pet_type %></label>
            <select class="custom-select d-block w-100" id="pet_name" name="pet_name" required> 
              <%# pets.forEach(pet => { %>
                <option value = <%#= pet.pet_name %>><%#= pet.pet_name %></option>
              <%# }) %>
            </select>
            <div class="invalid-feedback">
              Please select a valid pet transfer method.
            </div>
          </div>
        </div>
        <hr class="mb-4"> -->

        <!--Address-->
        <div id="addressBlock">
        <div class="mb-3">
          <label for="address"> Full Address</label>
          <% if (addr != null) { %>
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Change this address in your profile settings.</h6>
              <p class="card-text"><%= addr %></p>
              <input type="hidden" name="address" value="<%= addr %>">
            </div>
          </div>
          <% } else { %>
          <input type="text" class="form-control" name="address" placeholder="e.g. Blk 154 Telok Blangah Singapore 123456" required>
          <div class="invalid-feedback">
            Please enter your address.
          </div>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info" name="saveAddress">
          <label class="custom-control-label" for="save-info">Save this address for use next time</label>
        </div>
        <% } %>
        <hr class="mb-4">
      </div>
      <!--Address end-->
        <button class="btn btn-primary btn-lg btn-block" type="submit" style="float:right">Bid For Care</button>
      </form>
      <!--End Form-->
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/bootstrap/js/form-validation.js"></script>
<script>
  $(document).on('change', 'select[name="transferMethod"]', function(){
    $("#addressBlock").toggle(this.value ==="cPickup");
  });

</script>
</body>
</html>
