<%- include('./functions') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav_bar.ejs') %>

    <div class="container vert-gap-container">
        <div class="row">
            <h2 class="vert-gap-contents">Caretaker Information</h2>
        </div>
        
        <div class="row">
            <h4 class="vert-gap-small-header">Caretaker Information</h4>
        </div>
        <div class="row text-left">
            <div class="card col-sm col-md" id="square-card" style="margin-bottom: 15px;">
                <p><b>My Name:</b> <%= get_ct_trxns[0].ct_name %><br>
                   <b>My Email:</b> <%= get_ct_trxns[0].ct_email %><br>
                </p>
            </div>
        </div>
    </div>

    <div class="container vert-gap-container">
        <div class="row">
            <h2 class="vert-gap-contents">Past Transactions</h2>
            <% if (get_ct_trxns.length >= 4) { %>
                <a href="/transactions" style="padding: 13px">See more</a>
            <% } %>
        </div>
        <div class="row text-left">
            <% get_ct_trxns.forEach(trxn => { %>
            <div class="card col-sm col-md" id="square-card">
                <p><b>Status</b> <%= trxn.hire_status %><br>
                    <b>Date:</b> <%= stringToDate(String(trxn.start_date)) %> to
                    <%= stringToDate(String(trxn.end_date)) %><br>
                    <b>Caretaker:</b> <%= trxn.ct_name %><br>
                    <% if (trxn.hire_status == 'completed') { %>
                    <b>Rating:</b> <%= trxn.hire_status == 'completed' ? trxn.rating : 'NA' %><br>
                    <b>Review:</b> <%= trxn.review_text == 'pendingAccept' || 
                        trxn.review_text == 'pendingPayment' ||
                        trxn.review_text == 'paymentMade' ||
                        trxn.review_text == 'inProgress' 
                            ? 'NA'
                            : trxn.review_text
                        %><br>
                    <% } %>
                </p>
            </div>
            <% }) %>
        </div>
    </div>


</body>

</html>