<%- include('./functions') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <%- include('./partials/head.ejs') %>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>

    <div class="container vert-gap-container" style="padding-top: 30px">
        <div class="row">
            <h2 class="vert-gap-contents">User Information</h2>
        </div>

        <div class="row">
            <h4 class="vert-gap-small-header">My Information&nbsp;</h4>
            <a href="/edit_caretaker_particulars" class="btn btn-tool btn-sm" style="margin-left: 0px; margin-top: 0px;"><ion-icon name="create-outline" style="font-size: 24px; padding-bottom: 0px;"></ion-icon></a>
        </div>
        <div class="row text-left">
            <div class="card col-sm col-md" id="square-card">
                <p><b>My Name:</b> <%= my_details[0].name %><br>
                   <b>My Email:</b> <%= my_details[0].email %><br>
                   <b>My Location:</b> <%= my_details[0].location %><br>
                    <% if (my_details[0].address) { %>
                        <b>My Address:</b> <%= my_details[0].address %><br>
                    <% } %>
                    <% if (my_details[0].bank_account) { %>
                        <b>My Bank Account Number: </b> <%= my_details[0].bank_account %><br>
                    <% } %>
                    <% if (!my_details[0].monthly_pet_days) { %>
                        <b>My Pet Days This Month: </b> 0<br>
                    <% } else { %>
                        <b>My Pet Days This Month: </b> <%= my_details[0].monthly_pet_days %><br>
                    <% } %>
                    <% if (!my_details[0].monthly_salary) { %>
                        <b>My Salary This Month: </b>$0<br>
                    <% } else { %>
                        <b>My Salary This Month: </b>$<%= salary %><br>
                    <% } %>
                   <b>My Concurrent Pet Limit: </b><%= my_details[0].max_concurrent_pet_limit %><br>
                    <% if (!my_details[0].rating) { %>
                        <b>My Rating:</b><i> No Rating Yet!</i><br>
                    <% } else { %>
                        <b>My Rating:</b> <%= Number(my_details[0].rating).toFixed(2) %><br>
                    <% } %>
                    <% if (!my_details[0].address || !my_details[0].bank_account) { %>
                        <i>Please fill in missing particulars!</i>
                    <% } %>
                </p>
            </div>
        </div>

        <div class="row">
            <h4 class="vert-gap-small-header" style="margin-top: 15px;">My Pet Types&nbsp;</h4>
            <% if (my_pet_types.length >= 1) { %>
                <a href="/my_pet_types" style="padding-left: 13px; padding-top: 17px;">See more</a>
            <% } else { %>
                <a href="/add_pet_type_ct" class="btn btn-tool btn-sm" style="margin-left: 0px; margin-top: 14px;"><ion-icon name="add-outline" style="font-size: 24px; margin-top: 0px; padding: 0px; align-items: center;"></ion-icon>
                </a>
            <% } %>
        </div>
        <div class="row text-left">
            <% if (my_pet_types.length == 0) { %>
            <div class="card col-sm col-md" id="square-card" style="margin-bottom: 30px;">
                <p><i>You have not added a pet type. Click on the '+' button above to start adding pet types!</i></p>
            </div>
            <% } else { %>
            <% for (var i = 0; i < 4 && i < my_pet_types.length; i++) { %>
            <% const type = my_pet_types[i]; %>
            <button class="card col-sm col-md" id="square-card">
                <p>
                    <b>Pet Type:</b> <%= type.pet_type %><br>
                    <b>Base Daily Price:</b> $<%= Number(type.daily_price).toFixed(2) %><br>
                </p>
            </button>
            <% } %>
            <% } %>
        </div>



        <div class="row">
            <h4 class="vert-gap-small-header" style="margin-top: 13px;">My Leave Requests&nbsp;</h4>
            <% if (my_leave_requests.length >= 1) { %>
                <a href="/my_leave" style="padding-left: 13px; padding-top: 17px;">See more</a>
            <% } else { %>
                <a href="/apply_leave" class="btn btn-tool btn-sm" style="margin-left: 0px; margin-top: 14px;">
                    <ion-icon name="add-outline" style="font-size: 24px; margin-top: 0px; padding: 0px; align-items: center;">
                    </ion-icon>
                </a>
            </a>
            <% } %>
        </div>
        <div class="row text-left">
            <% if (my_leave_requests.length == 0) { %>
            <div class="card col-sm col-md" id="square-card" style="margin-bottom: 30px;">
                <p><i>You have not submitted any leave requests. Click on the '+' button above to submit a new leave request!</i></p>
            </div>
            <% } else { %>
            <% for (var i = 0; i < 4 && i < my_leave_requests.length; i++) { %>
            <% const leave = my_leave_requests[i]; %>
            <button class="card col-sm col-md" id="square-card">
                <p>
                    <b>Start Date:</b> <%= leave.start_date %><br>
                    <b>End Date:</b> <%= leave.end_date %><br>
                </p>
            </button>
            <% } %>
            <% } %>
        </div>

    </div>

    <div class="container vert-gap-container">
        <div class="row">
            <h2 class="vert-gap-contents">My Transactions</h2>
            <a href="/transactions_ct" style="padding: 11px">See more</a>
        </div>
        <div class="row text-left">
            <% if (get_ct_trxns.length == 0) { %>
            <div class="card col-sm col-md" id="square-card" style="margin-bottom: 30px;">
                <p><i>No Transactions Yet!</i></p>
            </div>
            <% } else { %>
            <% get_ct_trxns.forEach(trxn => { %>
            <div class="card col-sm col-md" id="square-card">
                <p><b>Status:</b>
                    <% if (trxn.hire_status == 'completed') { %>
                    <span class="badge badge-success"><%= statusToHuman(trxn.hire_status) %></span><br>
                    <% } else if (trxn.hire_status == 'cancelled' || trxn.hire_status == 'rejected') { %>
                    <span class="badge badge-danger"><%= statusToHuman(trxn.hire_status) %></span><br>
                    <% } else if (trxn.hire_status == 'pendingPayment') { %>
                    <span class="badge badge-warning"><%= statusToHuman(trxn.hire_status) %></span><br>
                    <% } else { %>
                    <span class="badge badge-info"><%= statusToHuman(trxn.hire_status) %></span><br>
                    <% } %>
                    <b>Date:</b> <%= stringToDate(String(trxn.start_date)) %> to
                    <%= stringToDate(String(trxn.end_date)) %><br>
                    <b>Pet Owner: </b><%= trxn.po_name %><br>
                    <b>Pet Type: </b><%= trxn.type %><br>
                    <% if (trxn.hire_status == 'completed') { %>
                    <b>Rating:</b> <%= trxn.rating == null ? 'NA' : trxn.rating %><br>
                    <b>Review:</b> <%= trxn.review_text == null ? 'NA' : trxn.review_text %><br>
                    <% } %>
                </p>
            </div>
            <% }); %>
            <% } %>
        </div>
    </div>

    </div>
    <script>
        if ("<%= messages.success_msg %>") {
            $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Success',
                    body: "<%= messages.success_msg %>"
            });
        }
        if ("<%= messages.error %>") {
            $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Error',
                    body: "<%= messages.error %>"
            });
        }
    </script>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>