<%- include('./functions') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <%- include('./partials/head.ejs') %>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>

    <% if (!loggedIn) { %>
    <%- include('./partials/profiles/header.ejs') %>
    <% } %>

    <% if (loggedIn) { %>
    <div class="container vert-gap-container" style="padding-top: 30px">
        <div class="row">
            <h2 class="vert-gap-contents">User Information</h2>
        </div>

        <div class="row">
            <h4 class="vert-gap-small-header">My Information&nbsp;</h4>
            <a href="/edit_particulars" class="btn btn-tool btn-sm" style="margin-left: 0px"><ion-icon name="create-outline" style="font-size: 24px; padding-bottom: 0px;"></ion-icon></a>
        </div>
        <div class="row text-left">
            <div class="card col-sm col-md" id="square-card">
                <p><b>My Name:</b> <%= my_details[0].name %><br>
                    <b>My Email:</b> <%= my_details[0].email %><br>
                    <b>My Location:</b> <%= my_details[0].location %><br>
                    <% if (my_details[0].address) { %>
                        <b>My Address:</b> <%= my_details[0].address %><br>
                    <% } %>
                    <% if (my_details[0].number) { %>
                        <b>My Credit Card:</b>
                        <%= my_details[0].number.substr(0, my_details[0].number.length - 4).replace(/./gi, "*") + my_details[0].number.substr(-4) %><br>
                    <% } %>
                    <% if (my_details[0].expiry) { %>
                        <b>My Credit Card Expiry Date:</b> <%= my_details[0].expiry %><br>
                    <% } %>
                    <% if (!my_details[0].address || !my_details[0].number || !my_details[0].expiry) { %>
                        <i>Please fill in missing particulars!</i>
                    <% } %>
                </p>
            </div>
        </div>

        <div class="row">
            <h4 class="vert-gap-small-header" style="margin-top: 15px;">Pet Information&nbsp;</h4>
            <% if (my_pets.length >= 1) { %>
            <a href="/my_pets" style="padding-left: 13px; padding-top: 17px;">See more</a>
            <% } %>
        </div>
        <div class="row text-left">
            <% if (my_pets.length == 0) { %>
                <div class="card col-sm col-md d-flex" id="square-card">
                    <p><i>No Pets! &emsp;</i><a href="/add_pet">Add a new pet.</a></p>    
                </div>
            <% } else { %>
                <% for (var i = 0; i < 4 && i < my_pets.length; i++) { %>
                    <% const pet = my_pets[i]; %>
                    <button class="card col-sm col-md" id="square-card"
                        onclick="location.href='/my_pet/<%= pet.email %>/<%= pet.pet_name %>'">
                        <p><b>Pet Name:</b> <%= pet.pet_name %><br>
                            <b>Pet Type:</b> <%= pet.pet_type %><br>
                            <b>Special Requirements:</b> <%= pet.special_requirement == "" ? 'NA' : pet.special_requirement %><br>
                        </p>
                    </button>
                <% } %>
            <% } %>
        </div>
    </div>
    <% } %>

    <div class="container vert-gap-container">
        <div class="row">
            <% if (!loggedIn) { %>
                <h2 class="vert-gap-contents">Top Caretakers&nbsp;</h2>
                <a href="/search" style="padding: 11px">See more</a>
            <% } else {%>
                <h2 class="vert-gap-contents">Top Caretakers Nearby&nbsp;</h2>
                <a href="/search/<%=today%>/<%=today%>/<%=my_details[0].location%>/[]/DESC/DESC" style="padding: 11px">See more</a>
            <% } %>
        </div>
        <% if (top_ratings.length == 0) { %>
            <div class="card col-sm col-md" id="square-card" style="margin-bottom: 30px;">
                <p>
                    <i>No Caretakers Nearby!</i><br>
                    <a href="/search" style="padding: 11px">Click here to see all caretakers.</a>
                </p>
            </div>
        <% } else { %>
            <div class="row text-left">
                <% for (var i = 0; i < 4; i++) { %>
                    <% const caretaker = top_ratings[i]; %>
                    <button class="card col-sm col-md" id="square-card" onclick="location.href='/profile/<%= caretaker.email %>'">
                        <p><b>Name:</b> <%= caretaker.name %><br>
                            <b>Rating:</b>
                            <%= caretaker.rating == null ? "No Rating Yet" : Number(caretaker.rating).toFixed(2) %><br>
                            <b>Location:</b> <%= caretaker.location %><br>
                            <b>Job:</b> <%= caretaker.job == "part_timer" ? "Part Time" : "Full Time" %><br>
                        </p>
                    </button>
                <% } %>
            </div>
        <% } %>
    </div>

    <div class="container vert-gap-container">
        <div class="row">
            
            <% if (loggedIn) {  %>
                <h2 class="vert-gap-contents">My Transactions&nbsp;</h2>
                <% if (recent_trxn.length > 4) { %>
                    <a href="/transactions" style="padding: 11px">See more</a>
                <% } %>
            <% } else { %>
                <h2 class="vert-gap-contents">Transactions&nbsp;</h2>
            <% } %>
        </div>
        <div class="row text-left">
            <% if (recent_trxn.length == 0) { %>
                <div class="card col-sm col-md" id="square-card" style="margin-bottom: 30px;">
                    <p><i>No Completed Transactions Yet!</i></p>
                </div>
            <% } else { %>
                <% for (var i = 0; i < 4 && i < recent_trxn.length; i++) { %>
                    <% const trxn = recent_trxn[i]; %>
                    <div class="card col-sm col-md" id="square-card" style="margin-bottom: 30px;">
                        <p><b>Status:</b>
                            <% if (trxn.hire_status == 'completed') { %>
                            <span class="badge badge-success"><%= statusToHuman(trxn.hire_status) %></span><br>
                            <% } else if (trxn.hire_status == 'cancelled' || trxn.hire_status == 'rejected') { %>
                            <span class="badge badge-danger"><%= statusToHuman(trxn.hire_status) %></span><br>
                            <% } else if (trxn.hire_status == 'pendingPayment') { %>
                            <span class="badge badge-warning"><%= statusToHuman(trxn.hire_status) %></span><br>
                            <% } else { %>
                            <span class="badge badge-info"><%= statusToHuman(trxn.hire_status) %></span><br>
                            <% } %>
                            <b>Date:</b> <%= stringToDate(String(trxn.start_date)) %> to
                            <%= stringToDate(String(trxn.end_date)) %><br>
                            <b>Caretaker:</b> <a href="/profile/<%= trxn.ct_email %>"><%= trxn.ct_name %></a><br>
                            <b>Pet Name:</b> <a href="/my_pet/<%= trxn.owner_email %>/<%= trxn.pet_name %>"><%= trxn.pet_name %></a><br>
                            <% if (trxn.hire_status == 'completed') { %>
                                <b>Rating:</b> <%= trxn.rating == null ? 'NA' : trxn.rating %><br>
                                <b>Review:</b> <%= trxn.review_text == null ? 'NA' : trxn.review_text %><br>
                            <% } %>
                        </p>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    </div>
    
    <script>
        if ("<%= messages.success_msg %>") {
            $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Success',
                    body: "<%= messages.success_msg %>"
            });
        }
        if ("<%= messages.error %>") {
            $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Error',
                    body: "<%= messages.error %>"
            });
        }
    </script>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
</html>