<!DOCTYPE html>
<html lang="en">  

<head>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <%- include('./partials/head.ejs') %>
</head>

<script>
    const testAddress = (address) => /[a-zA-Z]/g.test(address);
    function validateForm() {
        const address = document.forms["particulars_form"]["address"].value;
        if (address != "" && !testAddress(address)) {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Address format invalid!',
                body: 'Please enter a proper address.'
            })
            return false;
        }
        const pw1 = document.forms["particulars_form"]["pw1"].value;
        const pw2 = document.forms["particulars_form"]["pw2"].value;
        if (pw1 != pw2) {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Passwords do not match!',
                body: 'Please re-enter your passwords.'
            })
            return false;
        }
        const cc_num = document.forms["particulars_form"]["cc_num"].value;
        if (cc_num != "" && cc_num.length < 8) {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Credit Card Number invalid!',
                body: 'Please re-enter your Credit Card Number. Ensure that it is at least 8 digits long.'
            })
            return false;
        }
        const cc_date = document.forms["particulars_form"]["cc_date"].value;
        if (!(cc_num == "" && cc_date == "") && (cc_num == "" || cc_date == "")) {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Missing Credit Card details!',
                body: 'Please enter both your Credit Card Number and its expiry date.'
            })
            return false;
        }
    }
</script>

<body>
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>
    
    <div id="content-wrapper">
        <div class="container-fluid">
            
            <div class="card" style="width: 60%; margin: auto; margin-top: 5%;">
                <div class="card-header">
                    <b>Edit Particulars</b>
                </div>
                <form method="POST" role="form" id="particulars_form">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="po_name" class="col-sm-3 col-form-label">Name: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="po_name"
                                    name="po_name" value="<%= po_info[0].name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="po_email" class="col-sm-3 col-form-label">Email: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="po_email"
                                    name="po_email" value="<%= po_info[0].email %>" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="location" class="col-sm-3 col-form-label">Location: </label>
                            <div class="col-sm-9">
                                <select name="location" class="form-control" id="location">
                                    <% const my_loc = po_info[0].location; %> 
                                    <% const all_loc = ["Central", "East", "North", "North-East", "West"]; %>
                                    <% all_loc.forEach(loc => { %>
                                        <% if (loc != my_loc) { %>
                                            <option value="<%= loc %>"><%= loc %></option>
                                        <% } else { %>
                                            <option selected value="<%= my_loc %>"><%= my_loc %></option>
                                        <% } %> 
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-3 col-form-label">Address: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="address"
                                    name="address" value="<%= po_info[0].address %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pw1" class="col-sm-3 col-form-label">Update Password: </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pw1"
                                    name="pw1" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pw2" class="col-sm-3 col-form-label">Confirm New Password: </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pw2"
                                    name="pw2" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cc_num" class="col-sm-3 col-form-label">Credit Card Number: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cc_num"
                                    name="cc_num" value="<%= po_info[0].number %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cc_date" class="col-sm-3 col-form-label">Credit Card Expiry Date: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cc_date"
                                    name="cc_date" value="<%= po_info[0].expiry %>">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">
                        <button type="submit" class="btn btn-secondary" style="margin: 0px;" onclick="return validateForm()" formaction="/edit_particulars">Finalise Particulars</button>
                        <button type="submit" class="btn btn-danger float-right" style="margin: 0px;" formaction="/delete_account">Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        if ("<%= messages.success_msg %>") {
            $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Success',
                    body: "<%= messages.success_msg %>"
            });
        }
        if ("<%= messages.error %>") {
            $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Error',
                    body: "<%= messages.error %>"
            });
        }
    </script>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</html>