<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Edit Bid</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">
    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css" >
    <!-- Custom styles for this template -->
		<link href="/css/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>
    <div class="container">
  <div class="py-5 text-center">
    <h2>Edit Bid</h2>
  </div>

	<!--Summary on the right-->
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Caretaker</h6>
          </div>
          <span class="text-muted"><%= ctName %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Start Date</h6>
          </div>
					<span class="text-muted" id="side_start_date"><%= convertDate(originalStartDate) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">End Date</h6>
          </div>
          <span class="text-muted" id="side_end_date"><%= convertDate(originalEndDate) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Cost per day</h6>
          </div>
          <span class="text-muted" id="costPerDay">$<%= (Math.round(costPerDay * 100) / 100).toFixed(2) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (SGD)</span>
          <strong id="totalCost">$<%= (Math.round(costPerDay * numDays * 100) / 100).toFixed(2) %></strong>
        </li>
      </ul>
		</div>
		<!--Summary end-->
    <div class="col-md-8 order-md-1">
      <form action="/submit_edit" class="needs-validation" novalidate method="POST" onsubmit="clearAddr()">
        <div class="row">
          <div class="col-md-7 mb-3">
            <h4 class="mb-3">Change Pet Transfer Method</h4>
            <p>Current method: <%= transferConvert(trans.method_of_pet_transfer) %></p>
            <div class="float-left">
              <select class="custom-select d-block" id="transferMethod" name="transferMethod" required> 
                <option value = "cPickup" selected>Caretaker pickup</option>
                <% if (ct_has_address) { %>
                  <option value = "oDeliver">Dropoff at caretaker</option>
                <% } %>
                <option value = "office">Dropoff at Pet Care office.</option>
              </select>
            </div>
            <div class="invalid-feedback">
              Please select a valid pet transfer method.
            </div>
          </div>
          <div class="col-5">
            <h4 class="mb-3"></h4>
            <div class="card">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Please cancel and re-bid if you wish to select another one of your pets.</h6>
                <p class="card-text">Current pet: <%=petName%> <b>(<%=petType%>)</b></p>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <!--Address-->
        <div id="addressBlock">
          <div class="mb-3">
            <label for="address"> Full Address</label>
            <% if (addr != null) { %>
            <input type="text" class="form-control" id="address" name="address" value="<%= addr %>" required>
            <% } else { %>
            <input type="text" class="form-control" id ="address" name="address" placeholder="e.g. Blk 154 Telok Blangah Singapore 123456" required>
            <% } %>
            <div class="invalid-feedback">
              Please enter your address.
            </div>
          </div>
  
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info" name="saveAddress">
            <label class="custom-control-label" for="save-info">Save this address for use next time</label>
          </div>
          <hr class="mb-4">
        </div>
        <!--Address end-->
        <h4 class="mb-3">Change Dates</h4>
        <div class="row justify-content-between">
					<div class="col-md-5 mb-3 float-left">
						<input type="text" class="form-control float-right" name="dates">
						<input type="hidden" id="start_date" name="start_date" value="">
						<input type="hidden" id="end_date" name="end_date" value="">
					</div>
        </div>
        <hr class="mb-4">

        <div class="row">
					<div class="col-md-4 mb-3">
						<button class="btn btn-primary btn-lg btn-block" type="submit" style="float:right" name="isCancel" value="false">Confirm Changes</button>
					</div>
					<div class="col-md-4 mb-3">
            <a class="btn btn-danger btn-lg btn-block" style="float:right" style="margin: 0px; color: azure" onclick="return showModal()">Cancel Bid </a>
					</div>
        </div>
        <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                      <div class="modal-body">
                          <div>
                              Are you sure you want to cancel the bid?
                          </div>
                      </div>
                      <div class="modal-footer justify-content-between small text-muted">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button type="submit" class="btn btn-danger" name="isCancel" value="true">Yes</button>
                      </div>
              </div>
          </div>
      </div>
				<!--Pass back original hire data.-->
				<input type="hidden" name="ct_email" value=<%= trans.ct_email %>>
				<input type="hidden" name="ori_start_date" value=<%= moment(trans.start_date).format() %>>
				<input type="hidden" name="ori_end_date" value=<%= moment(trans.end_date).format() %>>
        <input type="hidden" name="pet_name" value=<%= trans.pet_name %>>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
  </footer>
</div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/plugins/bootstrap/js/form-validation.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/dist/css/adminlteToast.css">
  <script src="/dist/js/adminlte.min.js"></script>
	<script>
		var today = new Date("<%= today %>");
		var latestDate = new Date("<%= latestDate %>");
		var isPartTimer = "<%= isPartTimer %>" == "true"
		var blockedDates = <%- JSON.stringify(blockedDates) %>;
		blockedDates = new Set(blockedDates);
		var availableDates = <%- JSON.stringify(availableDates) %>;
		availableDates = new Set(availableDates);
		var originalStartDate = new Date("<%= originalStartDate %>");
    var originalEndDate = new Date("<%= originalEndDate %>");
    var costPerDay = parseInt("<%= costPerDay %>");
    const isInvalidDate = (aDate) => {
				const date = aDate.format('YYYY-MM-DD');
				if (isPartTimer) {
					return !(availableDates.has(date) && !blockedDates.has(date));
				} else {
					return blockedDates.has(date);
				}
			};
		$('input[name="dates"]').daterangepicker({
			minDate: today,
			maxDate: latestDate,
			startDate: originalStartDate,
			endDate : originalEndDate,
			locale: {
    		format: 'DD/MM/YYYY'
  		},
			isInvalidDate : isInvalidDate
		});

    //Dates are in moment
    function includesInvalidDate(startDate, endDate) {
      var currDate = new moment(startDate);
      while (currDate.isBefore(endDate) || currDate.isSame(endDate)) {
        if (isInvalidDate(currDate)) {
          return false;
        }
        currDate.add(1, 'days');
      }
      return true;
    }

    function errorToast(msg) {
      $(document).Toasts('create', {
            class: 'bg-danger',
            title: 'Error',
            body: msg
      });
    }

		$('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
      if (!includesInvalidDate(picker.startDate, picker.endDate)) {
        errorToast("Please a date range that does not include any disabled date");
        //Set date to original dates
        picker.setStartDate(originalStartDate);
        picker.setEndDate(originalEndDate);
      } else {
        document.getElementById("start_date").value = picker.startDate;
        document.getElementById("end_date").value = picker.endDate;
        document.getElementById("side_start_date").innerHTML = picker.startDate.format("DD/MM/YYYY");
        document.getElementById("side_end_date").innerHTML = picker.endDate.format("DD/MM/YYYY");
        document.getElementById("totalCost").innerHTML = (Math.round(picker.endDate.diff(picker.startDate, "days") * costPerDay * 100) / 100).toFixed(2);
      }
    });
    
    function clearAddr() {
      console.log(document.getElementById("transferMethod").value);
      if (document.getElementById("transferMethod").value != "cPickup") {
        document.getElementById("address").value = "Blank";
        $("#save-info").prop("checked", false);
      }
    }

    $(document).on('change', 'select[name="transferMethod"]', function(){
      $("#addressBlock").toggle(this.value ==="cPickup");
    });
    
  if ("<%= messages.success_msg %>") {
    $(document).Toasts('create', {
            class: 'bg-success',
            title: 'Success',
            body: "<%= messages.success_msg %>"
    });
  }
  if ("<%= messages.error %>") {
    $(document).Toasts('create', {
            class: 'bg-danger',
            title: 'Error',
            body: "<%= messages.error %>"
    });
  }

  function showModal() {
    $('#modal-default').modal('show');
  }
	</script>
</body>
</html>
