<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile_styles.css">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <script>
        $(function () {
            userType = JSON.parse('<%- JSON.stringify(userType) %>');
            userStatus = JSON.parse('<%- JSON.stringify(userStatus) %>');

            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
                "searching": false,
            });

            check = () => {
                window.location.href = '/manage-users/' + $('input[name="userType"]:checked').val() + '/' + userStatus;
            };

            checkStatus = () => {
                window.location.href = '/manage-users/' + userType + '/' + $('input[name="status"]:checked').val();
            };
        });
    </script>
</head>

<body style="background-color: lightgrey;">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Manage Users</h3>
            <div class="btn-group">
                <a href="/ft_register">
                    <i class="fas fa-plus"></i> Add Full-time Caretaker </a>
                &nbsp;
                <% if(superAdmin) { %>
                <a href="/admin_register">
                    <i class="fas fa-plus"></i> Add Admin </a>
                <% } %>
            </div>
        </div>
        <div class="card-body">
            <h5>
                Filter by:
            </h5>
            <div class="form-group">
                <h6>User type</h6>
                <div class="radio">
                    <label>
                        <input type="radio" name="userType" value="caretaker" <% if(userType == "caretaker") {%>checked<%}%> onChange="check()" />
                        Caretaker </label>
                        <label>
                            <input type="radio" name="userType" value="petowner"  <% if(userType == "petowner") {%>checked<%}%> onChange="check()" />
                        Pet Owner </label>
                        <% if(superAdmin) { %> <label>
                        <input type="radio" name="userType" value="admin" <% if(userType == "admin") {%>checked<%}%> onChange="check()" />
                            Admin </label>
                            <% } %> </div>
                </div>

                <div class="form-group">
                    <h6>User status</h6>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="active" <% if(userStatus == "active") {%>checked<%}%> onChange="checkStatus()" />
                        Active </label>
                        <label>
                            <input type="radio" name="status" value="inactive"  <% if(userStatus == "inactive") {%>checked<%}%> onChange="checkStatus()" />
                        Inactive </label>
                    </div>
                  </div>
            </div>
            </div>
            <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <% if(userType == 'caretaker') { %> <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Location</th>
                            <th>Rating</th>
                            <th>Status</th>
                            <th>Actions</th>
                            </tr>
                            <% } else if(userType == 'petowner') { %>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            <% } else if(userType == 'admin') {%>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            <% } %>
                            </thead>
                            <tbody>
                                <% if(userType == 'caretaker') { %>
                                <% users.forEach(careTaker => { %>
                                <tr>
                                    <td><%= careTaker.name %></td>
                                    <td><%= careTaker.email %></td>
                                    <td><%= careTaker.location %></td>
                                    <td><%= careTaker.rating %></td>
                                    <% if (careTaker.deleted) { %>
                                    <td>
                                        <span class="badge badge-danger">Inactive</span>
                                    </td>
                                    <td>
                                        <a href="/reactivate-user/caretaker/<%=careTaker.email%>" class="text-muted">
                                            <i class="fas fa-user-plus"> Reactivate</i>
                                        </a>
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td>
                                        <a href="/delete-user/caretaker/<%=careTaker.email%>" class="text-muted">
                                            <i class="fas fa-user-times"> Deactivate</i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }) %>
                                <% } else if(userType == 'petowner') { %>
                                <% users.forEach(petowner => { %>
                                <tr>
                                    <td><%= petowner.name %></td>
                                    <td><%= petowner.email %></td>
                                    <td><%= petowner.location %></td>
                                    <% if (petowner.deleted) { %>
                                    <td>
                                        <span class="badge badge-danger">Inactive</span>
                                    </td>
                                    <td>
                                        <a href="/reactivate-user/petowner/<%=petowner.email%>" class="text-muted">
                                            <i class="fas fa-user-plus"> Reactivate</i>
                                        </a>
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td>
                                        <a href="/delete-user/petowner/<%=petowner.email%>" class="text-muted">
                                            <i class="fas fa-user-times"> Deactivate</i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }) %>
                                <% } else if(userType == 'admin') { %>
                                <% users.forEach(admin => { %>
                                <tr>
                                    <td><%= admin.name %></td>
                                    <td><%= admin.email %></td>
                                    <% if(admin.isSuperAdmin) { %>
                                    <td>
                                        <span class="badge badge-warning">Super Admin</span>
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <span class="badge badge-secondary">Admin</span>
                                    </td>
                                    <% } %>
                                    <% if (admin.deleted) { %>
                                    <td>
                                        <span class="badge badge-danger">Inactive</span>
                                    </td>
                                    <td>
                                        <a href="/reactivate-user/admin/<%=admin.email%>" class="text-muted">
                                            <i class="fas fa-user-plus"> Reactivate</i>
                                        </a>
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td>
                                        <a href="/delete-user/admin/<%=admin.email%>" class="text-muted">
                                            <i class="fas fa-user-times"> Deactivate</i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% })} %>
                            </tbody>
                            </table>
                    </div>
                </div>
</body>

</html>