<%- include('../functions') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>

    <div class="container vert-gap-container" style="padding-top: 30px">
        <div class="row">
            <h2 class="vert-gap-contents">My Pets&nbsp;</h2>
            <a href="/add_pet" class="btn btn-tool btn-sm" style="margin-left: 0px; margin-top: 7px;"><ion-icon name="add-outline" style="font-size: 24px; margin-top: 0px; padding: 0px; align-items: center;"></ion-icon></a>
        </div>
        <% all_pets.forEach(pet => { %>
            <div class="container" style="padding-bottom: 10px;">
                <div class="card col-12" style="background-color: whitesmoke; text-align: left;">
                    <div class="card-body" style="padding-bottom: 0px; padding-top: 10px;">
                        <div class="row" id="transaction-header">
                            <div class="col-10">
                                <a href="/my_pet/<%= pet.email %>/<%= pet.pet_name %>"><h4>Pet: <%= pet.pet_name %>&nbsp;</h4></a>
                            </div>
                            <div class="col">
                                <a href="/add_pet/edit/<%= pet.email %>/<%= pet.pet_name %>">
                                    <ion-icon name="create-outline" style="font-size: 24px; padding-top: 5px;"></ion-icon>
                                </a>
                            </div>
                            <div class="col">
                                <form method="post" action="/my_pets/<%= pet.email %>/<%= pet.pet_name %>" stye="text-align: right;">
                                    <a data-toggle="modal" data-target="#modal-default" style="margin: 0px; color: azure" 
                                            data-petname="<%= pet.pet_name %>" data-email="<%= pet.email %>">
                                        <button type="submit" class="btn btn-tool btn-sm">
                                            <ion-icon name="trash-outline" style="font-size: 24px; padding-top: 13px;"></ion-icon>
                                        </button>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><b>Pet Type:</b> <%= pet.pet_type %></p>
                                <p><b>Special Requirements:</b> <%= pet.special_requirement %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <script>
        if ("<%= messages.success_msg %>") {
            $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Success',
                    body: "<%= messages.success_msg %>"
            });
        }
        if ("<%= messages.error %>") {
            $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Error',
                    body: "<%= messages.error %>"
            });
        }
    </script>
    
</body>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/#" class="delete_form">
                <div class="modal-body">
                    <div class="delete-text">
                        Placeholder
                    </div>
                </div>
                <div class="modal-footer justify-content-between small text-muted">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default-restore">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/#" class="restore_form">
                <input type="text" class="form-control" id="pet_name" name="pet_name" value="<%= data[0] %>" hidden>
                <input type="text" class="form-control" id="special_req" name="special_req" value="<%= data[1] %>" hidden>
                <input type="text" class="form-control" id="pet_type" name="pet_type" value="<%= data[3] %>" hidden>
                <div class="modal-body">
                    <div class="restore-text">
                        Placeholder
                    </div>
                </div>
                <div class="modal-footer justify-content-between small text-muted">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    console.log("hi");
    if ("<%= restore %>" != "false") {
        var restore_modal = $("#modal-default-restore");
        var pet_name = "<%= data[0] %>";
        var pet_type = "<%= data[3] %>";
        restore_modal.find('.restore-text').text('Previous pet ' + pet_name + ' found! Do you want to restore ' + pet_name + ' of pet type ' + pet_type.replace("&#34;", "").replace("&#34;", "") + '?');
        restore_modal.find('.modal-content form').attr("action", "/add_pet/restore");
        $(document).ready(function(){
            $("#modal-default-restore").modal('show');
        });
    }
</script>

<script>
    $('#modal-default').on('show.bs.modal', function(e) {
        var button = $(e.relatedTarget)
        var pet_name = button.data('petname');
        var email = button.data('email');
        var modal = $(this);
        modal.find('.delete-text').text("Are you sure you want to delete " + pet_name + "?");
        modal.find('.modal-content form').attr("action", "/my_pets/" + email + "/" + pet_name);
    });
</script>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>