<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile_styles.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">

</head>
<script>
    const pw1 = document.forms["form"]["pw1"].value;
    const pw2 = document.forms["form"]["pw2"].value;
    if (pw1 != pw2) {
        $(document).Toasts('create', {
            class: 'bg-danger',
            title: 'Passwords do not match!',
            body: 'Please re-enter your passwords.'
        })
        return false;
    }
</script>

<body style="background-color: lightgrey;">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn}) %>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="card" style="width: 60%; margin: auto; margin-top: 5%">
                <div class="card-header">
                    <b> Profile </b>
                </div>
                <form method="post" action="/update-pcs-admin" id="form">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Name: </label>
                            <div class="col-sm-9">
                                <input type="text" required="required" class="form-control" id="name" name="name"
                                    value="<%=admin.name%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email: </label>
                            <div class="col-sm-9">
                                <input type="text" required="required" class="form-control" readonly id="email"
                                    name="email" value="<%=admin.email%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pw1" class="col-sm-3 col-form-label">Update Password: </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pw1" name="pw1" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pw2" class="col-sm-3 col-form-label">Confirm New Password: </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pw2" name="pw2" value="">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">
                        <button type="submit" class="btn btn-secondary float-right">
                            Update Profile
                        </button>
                        <a data-toggle="modal" data-target="#modal-default" class="btn btn-danger float-left"
                            style="margin: 0px; color: azure" formaction="/delete_account">
                            Delete Account
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        if ("<%= messages.success_msg %>") {
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Success',
                body: "<%= messages.success_msg %>"
            });
        }
        if ("<%= messages.error %>") {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Error',
                body: "<%= messages.error %>"
            });
        }
    </script>
</body>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/delete_account">
                <div class="modal-body">
                    <div>
                        Are you sure you want to delete your account?
                    </div>
                </div>
                <div class="modal-footer justify-content-between small text-muted">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-secondary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>