<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pet Type</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile_styles.css">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>

<body style="background-color: lightgrey;">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>
    <div class="card" style="margin-left: auto; margin-right: auto; margin-top: 3%; width: 80%; align-content: center;">
        <div class="card-header border-0" style="flex-direction: row; display: flex; justify-content: space-between;">
            <h3 class="card-title" style="font-size: 1.75rem;">Pet Types</h3>
            <div class="card-tools">
                <a href="/add-pet-type" class="btn btn-tool btn-sm" style="position: absolute; margin-left: 400px;">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Base Daily Price ($)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% allPetTypes.forEach(petType => { %>
                    <tr>
                        <td><%= petType.name %></td>
                        <td><%= (Math.round(petType.base_daily_price * 100) / 100).toFixed(2) %></td>
                        <td>
                            <a href="/edit-pet-type/<%=petType.name%>" class="text-muted">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card -->
    <script>
        if ("<%= messages.success_msg %>") {
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Success',
                body: "<%= messages.success_msg %>"
            });
        }
        if ("<%= messages.error %>") {
            $(document).Toasts('create', {
                class: 'bg-danger',
                title: 'Error',
                body: "<%= messages.error %>"
            });
        }
    </script>
</body>

</html>