<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caretaker Summary Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile_styles.css">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <script>
        const humanToStatus = (human) => {
            if (human === 'In Progress') {
                return "inProgress";
            } else if (human === 'Pending Accept') {
                return "pendingAccept";
            } else if (human === 'Rejected') {
                return "rejected";
            } else if (human === 'Completed') {
                return "completed";
            } else if (human === 'Cancelled') {
                return "cancelled";
            } else if (human === 'Payment Made') {
                return "paymentMade";
            }
            else {
                return "pendingPayment";
            }
        };
        const statusToHuman = (status) => {
            if (status === 'inProgress') {
                return 'In Progress';
            } else if (status === 'pendingAccept') {
                return 'Pending Accept';
            } else if (status === 'rejected') {
                return 'Rejected';
            } else if (status === 'completed') {
                return 'Completed';
            } else if (status === 'cancelled') {
                return 'Cancelled';
            } else if (status === 'paymentMade') {
                return 'Payment Made';
            }
            else {
                return 'Pending Payment';
            }
        };
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": true,
                "searching": false,
                "ordering": false,
            })
            let selectedStatus = [];
            let allStatus = JSON.parse('<%- JSON.stringify(allStatus) %>');
            allStatus = allStatus.map((status) => { return statusToHuman(status) })
            let currMonth = JSON.parse('<%- JSON.stringify(currMonth) %>');
            console.log(currMonth)
            selectedStatus = JSON.parse('<%- JSON.stringify(selectedStatus) %>') ? JSON.parse('<%- JSON.stringify(selectedStatus) %>') : [];
            console.log(allStatus)
            $('.select2').select2({
                data: allStatus,
                allowClear: true,
            })
            selectedStatus = selectedStatus.map((status) => { return statusToHuman(status) })
            console.log(selectedStatus)
            $('.select2').val(selectedStatus);
            $('.select2').trigger('change.select2');
            $('.select2').on('change', function (e) {
                x = $('.select2').val()
                x = x.map((human) => { return humanToStatus(human) })
                window.location.href = '/search-transactions/' + JSON.stringify(x) + "/" + currMonth;
            });

            check = (event) => {
                event.preventDefault();
                if (currMonth == 'true') {
                    currMonth = 'false'
                } else {
                    currMonth = 'true'
                }
                x = $('.select2').val()
                x = x.map((human) => { return humanToStatus(human) })
                window.location.href = '/search-transactions/' + JSON.stringify(x) + '/' + currMonth;
            };
        })
    </script>
</head>

<body style="background-color: lightgrey;">
    <%- include('./partials/nav_bar.ejs', {loggedIn: loggedIn, accountType: accountType}) %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title" style="font-size: 1.75rem;">Search Transactions</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="radio">
                    <h6>Only show Transactions in current month:
                        <input type="checkbox" name="showCurrentMonth" <% if(currMonth == 'true') {%> checked <%}%> onChange="check(event)" />
                    </h6>
                </div>
          </div>
          <div class="form-group">
              <h6>Filter by Transaction Status: </h6>
              <select class="select2" multiple="multiple" data-placeholder="Filter by status"
              data-dropdown-css-class="select2-dark" style="width: 100%;">
          </select>
          </div>
        </div>
        </div>
    <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Pet Owner</th>
                        <th>Pet</th>
                        <th>Caretaker</th>
                        <th>Number of pet days</th>
                        <th>Total cost ($) </th>
                        <th>Method of pet transfer</th>
                        <th>Transaction date</th>
                        <th>Rating</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% selectedHires.forEach(hire => { %> <tr>
                        <td><%= hire.owner_email %></td>
                        <td><%= hire.pet_name %></td>
                        <td><%= hire.ct_email %></td>
                        <td><%= hire.num_pet_days %></td>
                        <td><%= hire.total_cost %></td>
                        <td><%= transferConvert(hire.method_of_pet_transfer) %></td>
                        <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(hire.transaction_date) %>
                        </td>
                        <% if(hire.rating){ %>
                            <td><%= (Math.round(hire.rating * 100) / 100).toFixed(2) %></td>
                        <% } else { %>
                        <td> NA </td>
                        <% } %>
                        <% if(hire.hire_status == 'completed') { %>
                        <td>
                            <span class="badge badge-success">Completed</span>
                        </td>
                        <% } else if(hire.hire_status == 'rejected') { %>
                        <td>
                            <span class="badge badge-danger">Rejected</span>
                        </td>
                        <% } else if(hire.hire_status == 'cancelled') { %>
                        <td>
                            <span class="badge badge-danger">Cancelled</span>
                        </td>
                        <% } else if(hire.hire_status == 'pendingAccept') { %>
                        <td>
                            <span class="badge badge-secondary">Pending Accept</span>
                        </td>
                        <% } else if(hire.hire_status == 'pendingPayment') { %>
                        <td>
                            <span class="badge badge-secondary">Pending Payment</span>
                        </td>
                        <% } else if(hire.hire_status == 'paymentMade') { %>
                        <td>
                            <span class="badge badge-info">Payment Made</span>
                        </td>
                        <% } else if(hire.hire_status == 'inProgress') { %>
                        <td>
                            <span class="badge badge-info">In Progress</span>
                        </td>
                        <% } else { %>
                        <td><%= hire.hire_status %></td>
                        <%} %>
                        </tr>
                        <% }) %>
                        </tbody>
                        </table>
                </div>
            </div>
</body>

</html>